

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
}

/* Mobile Layout: 767px. */

@media only screen and (max-width: 767px) {
  /* Navbar */

  .navbar-nav {
    background: #333;

    margin-top: 0;
  }

  .nav > li {
    text-align: center;
  }

  .navbar-default .navbar-nav li:last-of-type {
    padding-right: 0px;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0ff;

    border-bottom: none;
  }

  /* Homepage */

  .container h1 {
    font-size: 36px;
  }

  /* Service*/

  .service .row > div {
    margin-bottom: 40px;
  }
}

/* Wide Mobile Layout: Form 767 To 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .home-page .sub-container {
    padding-right: 30%;
  }

  .home-page .sub-container h1 {
    margin-bottom: 15px;
  }

  /** Service **/

  .service .row .sub-text {
    padding: 0 40px;
  }
}

/* Wide Mobile Layout: 480px. */

@media (max-width: 480px) {
  .home-page .sub-container {
    padding-right: 10%;
  }

  .home-page .sub-container h1 {
    font-size: 31px;

    line-height: 1.2;

    margin-bottom: 20px;
  }

  .home-page .sub-container h2 {
    font-size: 26px;

    line-height: 1.2;
  }
}

/* Mobile Layout: 320px. */

@media (max-width: 320px) {
  .home-page .sub-container h1 {
    font-size: 26px;

    line-height: 1.2;

    margin-bottom: 20px;
  }

  .home-page .sub-container h2 {
    font-size: 21px;

    line-height: 1.2;

    margin-top: 0;
  }

  .box .box-content {
    padding: 79px 0;
  }

  .contact h2:before {
    padding-left: 218px;

    margin-top: 29px;
  }
}
