* {
  margin: 0;
  padding: 0;
}

/* body {
  background: #333;
  font-size: 22px;
  line-height: 32px;
  color: #fff;

  word-wrap: break-word !important;
  font-family: Helvetica, sans-serif;
} */
a:hover {
  color: #fff;
  text-decoration: none;
}

/******* Dropdown Start *******/

/* Hamburger Start */
.toggle,
[id^="drop"] {
  display: none;
}

#main-toggle {
  /* outline: 1px solid red; */
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
}
.nav-icon::before,
.nav-icon::after {
  background: #fff;
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.nav-icon::before {
  top: 5px;
}
.nav-icon::after {
  bottom: 5px;
}
/* Hamburger End */

/* Nav links Start */
nav::after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  list-style: none;
}
nav ul li {
  margin: 0;
  float: left;
}
nav a {
  display: block;
  padding: 0 20px;
  font-size: 20px;
  line-height: 70px;
  color: #fff;
  /* background-color: teal; */
  text-decoration: none;
}
/* Nav links End */
/* Hover states start */
nav ul li a{
  transition: 0.4s ease-in-out;
}
nav ul li a:hover{
  color: #e80d13;
}
nav ul li ul li:hover {
  background-color: #ff0000;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
nav ul ul li {
  width: 300px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.9);
}
nav ul li:hover > ul {
  display: inherit;
  background-color: rgba(0, 0, 0, 0.9);
}


/* Hover states end */

/* Responsive start */
@media all and (max-width: 768px) {
  div.navbar-header {
    float: left;
  }
  nav {
    margin: 0 !important;
  }
  nav li > a::after {
    content: "+";
  }
  nav li > a:only-child::after {
    content: "";
  }
  nav label {
    margin: 0;
  }
  nav ul {
    float: none;
  }
  .toggle + a,
  .menu {
    display: none;
  }
  .toggle {
    display: block;
    /* background-color: teal; */
    padding: 0 20px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
  }
  .toggle:hover {
    background-color: transparent;
  }
  [id^="drop"]:checked + ul {
    display: block;
  }
  nav ul li {
    display: block;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
    background-color: red;
  }
  nav ul li ul li .toggle,
  nav ul li a {
    background-color: #333;
  }
  nav ul ul {
    float: none;
    position: static;
    color: #fff;
  }
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul ul li {
    position: static;
  }
}
/* Responsive end */
/******* Dropdown End *******/
